BOT_TOKEN=
WEBHOOK_URL=https://yourdomain.com
WEBHOOK_SECRET=changeme_random_secret
ALLOWED_HOSTS=yourdomain.com,localhost,127.0.0.1
API_TOKEN=

# your Supabase project's connection string:
# Supabase dashboard -> Project Settings -> Database -> Connection string
# DATABASE_URL=postgresql://postgres.txstxhbhbhkihdmmkbqk:cKAz48wrgLKbN9tt@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres
cKAz48wrgLKbN9tt